body {
  margin: 0;
  padding: 0;
  font: 12px/18px arial, tahoma, verdana, sans-serif;
  color: #222; }

textarea {
  font-family: arial, tahoma, verdana, sans-serif;
  font-size: 12px;
  padding: 4px;
  height: 80px; }

a {
  color: #4085cc;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.edit,
  a.delete,
  a.cancel {
    color: #cc0000; }

label {
  display: block;
  font-weight: bold;
  margin-bottom: 1px; }

.right {
  float: right; }

.warning {
  color: #cc0000; }

.hint {
  color: #888; }

a#logo img {
  border: 0; }

#header {
  width: 960px;
  padding: 10px 0;
  margin: 0 auto; }
  #header #nav {
    float: right;
    margin-top: 25px; }
    #header #nav ul li {
      float: left;
      padding: 0;
      margin: 0 0 0 20px;
      list-style-type: none; }
      #header #nav ul li a {
        display: block;
        font-size: 16px; }

body#users.edit #nav a.account,
body#users.update #nav a.account,
body#users #nav a.signup,
body#user_sessions #nav a.login,
body#quizzes #nav a.quizzes,
body#categories #nav a.quizzes,
body#dashboards #nav a.dashboard {
  font-weight: bold; }

hr#split {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px dotted #ccc; }

.flash {
  padding: 10px 12px;
  color: #fff;
  margin-bottom: 20px;
  background: #f5f5f5;
  font-weight: bold;
  font-size: 14px; }
  .flash#success {
    color: #60BB22; }
  .flash#failure {
    color: #B80028; }

#content {
  width: 960px;
  margin: 20px auto; }
  #content #left {
    float: left;
    width: 620px; }
    #content #left h2 {
      font-size: 22px;
      margin-top: 0; }
    #content #left #mid_nav {
      float: right;
      font-size: 14px; }
      #content #left #mid_nav.top {
        margin-top: 20px; }
      #content #left #mid_nav.correct,
      #content #left #mid_nav.incorrect {
        color: #fff;
        margin-top: 5px;
        padding: 2px 5px;
        font-size: 12px; }
      #content #left #mid_nav.correct {
        background: #5bc236; }
      #content #left #mid_nav.incorrect {
        background: #cc0000; }
  #content #right {
    float: right;
    width: 340px; }
    #content #right h3 {
      margin-top: 0;
      margin-left: 40px; }
    #content #right ul {
      margin-left: 40px; }
    #content #right .no_items {
      float: right;
      margin-left: 40px;
      width: 300px;
      font-size: 12px;
      padding: 20px 0; }

#footer {
  width: 960px;
  margin: 40px auto 20px;
  border-top: 1px dotted #ccc;
  padding: 10px 0;
  color: #aaa; }

.submit {
  float: left; }
  .submit span {
    color: #888; }

.heading {
  background: #e5f2ff;
  float: left;
  width: 100%;
  font-size: 12px; }
  .heading h3 {
    margin: 5px 0 5px 8px;
    float: left; }
  .heading a.add {
    float: right;
    padding: 5px 8px;
    background: #5bc236;
    color: #fff; }

.form {
  background: #f5f5f5;
  float: left;
  width: 100%; }
  .form form {
    margin: 15px; }
    .form form textarea,
    .form form input.big {
      width: 530px; }
    .form form input.big {
      font-size: 14px;
      padding: 2px; }
    .form form .formatting {
      float: right;
      margin-right: 50px; }
    .form form .submit {
      margin-bottom: 15px; }

.field {
  margin-bottom: 15px; }
  .field .hint {
    margin-top: 2px; }

.new_ajax_form {
  background: #f5f5f5;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  display: none; }
  .new_ajax_form h4 {
    color: #2eae00;
    margin: 8px 10px 5px; }
  .new_ajax_form form {
    margin: 0 10px 10px; }
    .new_ajax_form form textarea {
      margin-bottom: 8px;
      width: 90%; }
  .new_ajax_form .submit {
    margin-top: 8px;
    margin-bottom: 10px; }

.inline_edit_form {
  margin: 10px;
  float: left;
  width: 85%; }
  .inline_edit_form form textarea {
    width: 95%;
    margin-bottom: 8px; }
  .inline_edit_form form .submit {
    margin-top: 8px; }

.errors {
  color: #cc0000; }

.checkbox input {
  margin-left: 0; }
.checkbox label {
  display: inline;
  font-weight: normal; }

ul#questions_list {
  float: left;
  padding-left: 20px; }
  ul#questions_list li {
    list-style-type: none;
    font-size: 14px; }

ul#answers_list {
  clear: both;
  padding: 0;
  float: left;
  width: 100%; }
  ul#answers_list li {
    float: left;
    width: 100%;
    list-style-type: none;
    background: #f5f5f5;
    margin-bottom: 10px; }
    ul#answers_list li .show_body {
      border-left-width: 5px;
      border-left-style: solid;
      border-left-color: #f5f5f5;
      width: 90%;
      padding-left: 10px;
      float: left; }
    ul#answers_list li.correct .show_body {
      border-left-color: #5bc236; }
    ul#answers_list li.incorrect .show_body {
      border-left-color: #cc0000; }
    ul#answers_list li .edit_link,
    ul#answers_list li .delete_link {
      float: right;
      margin: 10px; }
    ul#answers_list li .edit_link {
      display: none; }
    ul#answers_list li:hover .edit_link {
      display: block; }
  ul#answers_list.participating .show_body {
    padding-left: 7px; }
    ul#answers_list.participating .show_body .radio_button {
      float: left;
      padding-right: 12px; }

.quiz_link {
  color: #888;
  margin-bottom: 5px; }

.no_items {
  background: #f5f5f5;
  float: left;
  width: 100%;
  padding: 30px 0;
  font-size: 14px;
  color: #888;
  text-align: center; }

#show_question {
  margin-bottom: 20px;
  float: left; }

.next_and_previous {
  color: #aaa;
  margin-left: 40px; }
  .next_and_previous .prev {
    float: left; }
  .next_and_previous .next {
    float: right; }

.answered_count,
.correct_incorrect {
  float: left;
  border-top: 1px solid #ddd;
  width: 300px;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 40px; }

.answered_count {
  font-size: 16px;
  color: #aaa; }
  .answered_count strong {
    color: #222; }

.correct_incorrect {
  font-size: 14px;
  color: #ccc; }
  .correct_incorrect:hover {
    color: #aaa; }
    .correct_incorrect:hover .correct {
      color: #5bc236; }
    .correct_incorrect:hover .incorrect {
      color: #cc0000; }

.try_again {
  float: left;
  color: #666; }
  .try_again a {
    font-weight: bold; }

#content #left .errorExplanation {
  border-style: solid;
  border-width: 2px;
  border-color: #cc0000;
  background: #fff; }
  #content #left .errorExplanation h2 {
    background: #cc0000;
    color: #fff;
    padding: 7px 12px 10px;
    font-size: 14px; }
  #content #left .errorExplanation p {
    display: none; }
#content #left .formError {
  color: #cc0000;
  font-weight: bold;
  margin-top: 3px; }
