%p
  A request to reset your password has been made.
  %br
  If you did not make this request, simply ignore this email.
  %br
  If you did make this request just click the link below:
%p
  = password_reset_link
%p
  If the above URL does not work try copying and pasting it into your browser.
  %br
  You have
  %strong one hour
  to reset your password with the above link or it becomes invalid.
  %br
  If you continue to have problems please feel free to contact us at
  = quizdoo_help_link