#categories_box
  %h3 Categories
  .list
    - Category.all.in_groups(4) do |group|
      %ul
        - group.each do |category|
          %li
            - if category == nil
              &nbsp;
            - else
              = link_to category.name, category_path(category)
              = category.quizzes_count